# Application URLs
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_CHAT_SERVICE_URL=http://localhost:3001

# Database (Either local Docker or remote Postgres like Neon)
# For local PostgreSQL in Docker:
# POSTGRES_PRISMA_URL=postgresql://user:password@localhost:5432/social_connect
# For remote PostgreSQL (e.g., Neon):
# POSTGRES_PRISMA_URL=postgresql://neondb_owner:yourpassword@ep-your-pooler.aws.neon.tech/neondb?pgbouncer=true&connect_timeout=15&sslmode=require

POSTGRES_PRISMA_URL=your-postgres-connection-string

# JWT encryption/decryption token
JWT_SECRET=your-jwt-secret

# Cloudinary
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_SECRET=secret-api
CLOUDINARY_API_KEY=secret-key
CLOUDINARY_URL=cloudinary://secret-key:secret-api@your-cloud-name
